html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background: $background-color !important;
}

section {
  background: $background-color !important;
  color: $text-color !important;
}

